body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: white;
    text-align: center;
}

img {
    display: none;
}

.canvas-container, #main_screen {
    width: 100%;
    height: 100vh;
}